<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.example.PuruPuru"
      android:versionCode="2"
      android:versionName="0.2">
    <application android:label="@string/app_name"
        android:icon="@drawable/icon"
        >
        <activity android:name="PuruPuru"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Setting"
                  android:label="@string/app_name02"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>
    </application>
    <supports-screens
            android:smallScreens="true"
            android:normalScreens="true"
            android:largeScreens="true"
            android:anyDensity="true" />
</manifest>
